@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Define CSS Variables */
:root {
  --primary-color: #396d93;
  --secondary-color: #e7c24f;
  --accent1-color: #a43312;
  --accent2-color: #381d2a;

  --heading-font: 'Montserrat', sans-serif;
  --paragraph-font: 'Montserrat', sans-serif;

  --nav-background-color: #ce18a0;
  --nav-link-color: #ffe2d1;
  --nav-hover-link-color: #e1f0c4;
  --nav-hover-background-color: #55917f;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

body {
  font-family: var(--paragraph-font);
  color: #000;
}

a {
  text-decoration: none;
}

header, main, footer {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-color: var(--nav-background-color);
  padding: 10px;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 120px 1fr 2fr;
  align-items: center;
  border-bottom: 1px solid #396d93;
}

.logo img {
  margin: 0 0.25rem 0 1rem;
  width: 64px;
  height: auto;
}

h1 {
  font-size: 2rem;
  font-family: 'Acme', Arial, sans-serif;
}

nav {
  text-align: right;
}

.navigation {
  display: flex;
  list-style: none;
}

.navigation li {
  flex: 1 1 100%;
}

.navigation a {
  display: block;
  color: #e7c24f;
  padding: 20px;
  text-decoration: none;
}

.navigation a:hover {
  color: tomato;
  font-weight: 700;
  text-decoration: underline;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  margin: 0 10px;
}

nav a:hover {
  background-color: var(--nav-hover-background-color);
  color: var(--nav-hover-link-color);
}

.adventures-section {
  display: flex;
  justify-content: space-between;
}

figure {
  border: thin solid #ce18a0;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 200px;
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
}

figcaption {
  background-color: #e1f0c4;
  color: #4f5ee7;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

.hero {
  position: relative;
}

.hero h1 {
  position: absolute;
  top: 105px;
  left: 50%;
  transform: translateX(-50%);
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero article {
  position: absolute;
  width: 100%;
  background-color: rgba(110, 82, 236, 0.7);
  padding: 20px;
  top: 195px;
  left: 0;
}

.hero article img {
  float: right;
  width: 30%;
}

.hero section {
  margin-top: 20px;
}

.hero h2 {
  color: #0077cc;
}

footer {
  background-color: #ce18a0;
  color: var(--footer-color);
  text-align: center;
  padding: 10px;
}

.sociallinks {
  text-decoration: none;
}

footer img {
  width: 30px;
  margin: 0 5px;
}